// =========================================
//				Global
//==========================================

html {
	height: 100%;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
  	font-smoothing: antialiased;
  	@include transitionAll(1s);
  @media screen and (max-width: $break-m) {
    font-size: 14px;
  }
}

body {
	height: 100%;
	font-family: $Mont-light;
	font-size: .8em;
	line-height: 1.7em;
	color: $black;
	position: relative;
	background-color: #fff;
}
// =========================================
//				Parallax Sections
//==========================================

.parallaxParent {
	height: 100vh;
	overflow: hidden;
	clear: both;
}

#parallax1 {
	height: 700px;
	background-color: #000;
}
#parallax2 {
  height: 700px;
}

#parallax3 {
  height: 700px;
}

#parallax4 {
  height: 300px;
}
#parallax5 {
	background: url('../img/footer-bg.jpg') no-repeat bottom center;
	background-size: contain;
}
//=========== Panels =======================
.panel__container {
	@media (min-width: 992px) {
		width: 70%;
		margin-left: 15%;
	}
	width: 95%;
	margin-left: 2.5%;
	text-align: center;
	position: relative;
	}

// =========================================
//				Headings
//==========================================

h2 {
	font-family: $Macho, Helvetica, sans-serif;
	font-size: 4em;
	color: $blue;
	padding: .5em 0;
	letter-spacing: 2px;
	&:after {
		position: absolute;
		content: url('');
		background: url('../img/section-line.png') no-repeat bottom center;
		background-size: 100% 6px;
		-moz-background-size: 100% 6px;
		height: 6px;
		width: 30%;
		left: 0px;
		top: 30px;
	}
	&:before {
	 	position: absolute;
		content: url('');
		background: url('../img/section-line.png') no-repeat bottom center;
		background-size: 100% 6px;
		-moz-background-size: 100% 6px;
		height: 6px;
		width: 30%;
		right: 0px;
		top: 30px;
	}
}



