//=================================
//			Splash-Panel
//=================================
.splash-panel {

}
	.bgvid {
		position: absolute;
		opacity: .3;
		width: 100vw;
		height: 90vh;;		
	}
	.cta-container {
		margin-top: 2%;
		width: 50%;
		margin-left: 25%;
		@include Flexbox;
		@include flex-justify(center);
		@include flex-align(center);
		@include flex-direction(horizontal, row);
	}
	.cta-full {
		background: $blue;
		border: 2px solid $blue;
	}
	.cta-empty {
		border: 2px solid $blue;
		&:hover {
			background-color: $blue;
		}
	}
	.cta-full,.cta-empty {
		color: #fff;
		text-decoration: none;
		text-transform: uppercase;
		font-family: $Mont-bold;
		margin: 0 15px;
		height: 70px;
		width: 100%;
		@include Flexbox;
		@include flex-justify(center);
		@include flex-align(center);
		
		@include transitionAll(.3s);
	}


//=================================
//			About-Panel
//=================================
.about-panel {

}
	.feather-separator {
		width: 100%;
		img {
			width: 100%;
			display: block;
			margin: 0 auto;
		}		
	}
	.about-text {
		position: relative;
		top: -100px;
		width: 70%;
		margin-left: 15%;
		p {
			padding-bottom: 7px;
		}
	}

//=================================
//			Get Involved Panel
//=================================
.buttons {
	margin-top: 5%;
	li {
		margin: 20px 0;
		padding: 10px 0;
		box-sizing: border-box;
	}
}
.btn {
	display: block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: $Mont-bold;
	letter-spacing: 1px;
	padding: 10px;
	background: orange;
	border-radius: 4px;
	box-sizing: border-box;
	margin: 0 10px;
	@include transitionAll(.2s);
	&:hover {
		border-bottom: 4px solid $black;
		-webkit-animation: animate_bg 15s;
  		animation: animate_bg 15s;
  		-webkit-animation-iteration-count: infinite;
  		animation-iteration-count: infinite;
	}
}
.btn-coming-soon {
	display: block;
	width: 150px;
	margin:0 auto;
	margin-top: 30px;
}