/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*******************************************/
/*                  BASE
/*******************************************/

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
}
/*******************************************/
/*                  PANELS
/*******************************************/
.parallaxParent {
  height: 100vh;
  overflow: hidden;
}

#parallax1 {
  overflow: hidden;
  height: 100vh;
  background-color: #000;
}

/*#parallax2 {
  overflow: scroll;
}*/
.cover-panel {
  background-image: url('/assets/img/cover.jpg');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}

.involved-panel {
  background-image: url('/assets/img/get-involved.jpg');
  background-repeat:no-repeat;
  background-position: center center;
  background-size: cover;
}

/*******************************************/
/*               TITLE BARS
/*******************************************/
.box1, .box2, .box3 {
    display: inline-block;
    position: relative;
    border-radius: 8px;
    border: 0px solid white;
    text-align: center;
    vertical-align: middle;
    padding: 0 5px;
}

/*******************************************/
/*                  IMAGES
/*******************************************/
.cover {
  display: block;
  height: 1600px;
  width: 100%;
}

/*******************************************/
/*                  VIDEOS
/*******************************************/
.bgvid { 
  position: absolute;
  
  min-height: 100%;
  height: auto;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-y: hidden;
}


/*******************************************/
/*               FLOATING TEXT
/*******************************************/
.video-text {
  font-weight:100; 
  color: white;
  padding: 2rem;
  width: 33%;
  margin:2rem;
  float: left;
  font-size: 1.2rem;
  z-index: 9999;
}

.about-text {
  font-weight:100; 
  color: white;
  padding: 2rem;
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 10%;
  font-size: 0.8rem;
  background: rgba(0,0,0,0.3);
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
  line-height: 3rem;
}

h2 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  line-height: 3rem;
}
/*******************************************/
/*               Buttons
/*******************************************/
.contact-button{
  position: relative;
}

/*******************************************/
/*                  COLOURS
/*******************************************/
.blue {
    background-color: #3883d8;
}
.turqoise {
    background-color: #38ced7;
}
.green {
    background-color: #22d659;
}

.bordeaux {
    background-color: #953543;
}



/*******************************************/
/*                  TO BE EDITED
/*******************************************/
.buttons {
  display: block;
  margin: 0 auto;
  max-width: 1310px;
}

.buttons li {
  display: inline;
}

.btn-default {
  margin: 15px 5px;
}
.dropdown-form {
  position: absolute;
  top: 700px;
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 100%;
  max-width: 1100px;
  display: none;
}
@media screen and (max-width: 768px) {
  .dropdown-form {
    width: 100%;
    max-width: 500px;
  }
}